# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# modules of each chapter
/chapter-2/node_modules
/chapter-4/node_modules
/chapter-5/node_modules
/chapter-6 (natours)/node_modules
/chapter-6 (natours)/config.env


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
